# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build-and-test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest requests openapi-python-client

      - name: Start Calculator API
        run: |
          nohup python BE/calculator.py --rest & 
          sleep 3  # Wait for the API server to start

      - name: Run tests
        run: pytest --junit-xml=report.xml

      - name: Upload test report
        uses: mikepenz/action-junit-report@v3
        with:
          report_paths: 'report.xml'


      # Runs a single command using the runners shell
      - name: Log in to Azure Container Registry
        if: success()
        uses: docker/login-action@v3
        with: 
          registry: judevops.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      # Runs a set of commands using the runners shell
      - name: Build and Push Docker image
        if: success()
        run: |
          cd BE
          docker build -t judevops.azurecr.io/matan_teame-calculator .
          docker push judevops.azurecr.io/matan_teame-calculator
